<html>

<head>
    <title>Contact Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/contact.css" />
</head>

<body>
    <nav style="background-color: #f4f3f3; height: 75px;">
        <div style="display: flex; align-items: center; height: 100%; margin-left: 30px; margin-right: 30px;">
            <ul style="display: flex; list-style-type: none; gap: 50px; align-items: center;">
                <li>
                    <img src="/assets/image/dumbways.png" style="height: 50px;" />
                </li>
                <li class="nav-link nav-collapse">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="nav-link nav-collapse">
                    <a href="/blog">
                        Blog
                    </a>
                </li>
                <li class="nav-link nav-collapse">
                    <a href="/testimonial">
                        Testimonial
                    </a>
                </li>
            </ul>
            <div style="display: flex; width: 100%; justify-content: end;">
                <a href="/contact" class="btn-contact nav-collapse">Contact me</a>
                <i class="fa-solid fa-bars fa-2x" style="cursor: pointer;" id="hamburger-button"
                    onclick="openHamburger()"></i>
            </div>
        </div>
    </nav>
    <div class="hamburger-nav-container" id="hamburger-nav-container">
        <a href="/" class="active">Home</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact Me</a>
    </div>


    <div class="container">
        <form class="container-form">
            <label class="label-contact">Name</label>
            <input type="text" class="input-contact" id="inputName" />
            <label class="label-contact">Email</label>
            <input type="text" class="input-contact" id="inputEmail" />
            <label class="label-contact">Phone number</label>
            <input type="text" class="input-contact" id="inputPhone" />
            <label class="label-contact">Subject</label>
            <select class="input-contact" id="inputSubject">
                <option></option>
                <option>Frontend Developer</option>
                <option>Backend Developer</option>
                <option>Fullstack Developer</option>
            </select>
            <label class="label-contact">Your message</label>
            <textarea class="input-contact" id="inputMessage"></textarea>
            <input type="button" value="Submit" class="submit-contact" onclick="submitData()" />
        </form>
    </div>

    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/contact.js"></script>
</body>

</html>