<html>

<head>
    <title>Personal Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
    <nav style="background-color: #f4f3f3; height: 75px;">
        <div style="display: flex; align-items: center; height: 100%; margin-left: 30px; margin-right: 30px;">
            <ul style="display: flex; list-style-type: none; gap: 50px; align-items: center;">
                <li>
                    <img src="/assets/image/dumbways.png" style="height: 50px;" />
                </li>
                <li class="nav-link nav-collapse">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="nav-link nav-collapse">
                    <a href="/blog">
                        Blog
                    </a>
                </li>
                <li class="nav-link nav-collapse">
                    <a href="/testimonial">
                        Testimonial
                    </a>
                </li>
            </ul>
            <div style="display: flex; width: 100%; justify-content: end;">
                <a href="/contact" class="btn-contact nav-collapse">Contact me</a>
                <i class="fa-solid fa-bars fa-2x" style="cursor: pointer;" id="hamburger-button"
                    onclick="openHamburger()"></i>
            </div>
        </div>
    </nav>
    <div class="hamburger-nav-container" id="hamburger-nav-container">
        <a href="/" class="active">Home</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact Me</a>
    </div>

    <section class="profile-container">

        <div class="left">

            <img style="width: 100%;" src="/assets/image/gojo.jpg" alt="gojo image">
            <h1>Surya Elidanto</h1>
            <p>I became a superstar to make awesome app and software to bring new life</p>

            <div>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-linkedin fa-xl"></i>
            </div>

            <p>Dumbways</p>

            <table border="1" style="width: 100%;">
                <tr>
                    <th>Project Name</th>
                    <th>Year</th>
                </tr>
                <tr>
                    <td>Personal Web</td>
                    <td>2023</td>
                </tr>
            </table>
        </div>

        <div class="right">
            <h2>What i do</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deserunt dolores, harum rerum
            laboriosam earum totam dolorem debitis impedit ipsam inventore sint quisquam modi eaque quis, unde nemo
            magni ipsum?

            <div class="skill">
                <div>
                    <img src="/assets/images/logo.png" alt="" srcset="">
                    <h2>Javascript</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea!</p>
                </div>
                <div>
                    <img src="/assets/images/logo.png" alt="" srcset="">
                    <h2>Github</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea!</p>
                </div>

                <div>
                    <img src="/assets/images/logo.png" alt="" srcset="">
                    <h2>Deployment</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea!</p>
                </div>
            </div>

            <div class="social-media">
                <h2>Found Me on</h2>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>

        </div>
    </section>

    <script src="/assets/js/nav.js"></script>
</body>

</html>